@mixin flex($direction: false, $justify: false, $align: false) {
  display: flex;
  @if $direction {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}
@mixin mx-mobile-only($value){
  margin-right: $value;
  margin-left: $value;
  @include md {
    margin-left: 0;
    margin-right: 0;
  }
}