$gray-jumbo: #85868d;
$cherry-red: #ec1115;
$pink-wisp: #fef6f6;
$gray-tuna: #343541;
$red-bittersweet: #f47073;
$gray-bombay: #aeaeb3;
$gray-athens: #f7f7f7;
$gray-abbey: #484954;
$gray-mid: #5d5d67;
$pink-fair: #fdebeb;
$gray-some: #eaeaea;
$blue-bg: #EBF3FE;
$blue-intense: #2F80ED;
$green-success: #27AE60;
$gray-charade: #292A33;